@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Maven+Pro:wght@400..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    /* Fonts */
    --font-maven: "Maven Pro", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;
    --font-lato: "Lato", sans-serif;

    /* Colors */
    --bg-green: #0A846E;
    --bg-brown: #9E6D52;
    --bg-red: #B93857;
    --text-green: #055647;
    --text-light: #ffffff;
    --text-dark: #000000;

    /* Använd dessa variabler med hjälp av var(), ex background-color: var(--bg-green); osv. */
}

/* Normalisering */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Page wrapper */
.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1),
        5px 0 10px rgba(0, 0, 0, 0.1);
}


/* Header styling */
.header {

}


/* Navigation styling */
.navigation {

}


/* Info Section styling */
.info-section {

}


/* Plants Section styling */
.plants-section {
    
}


/* Utility classes för plants cards, use these to se each plant's background image */
.plant-tomato {
    background-image: url('https://images.unsplash.com/photo-1596199050105-6d5d32222916?q=80&w=2639&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

.plant-tomato-2 {
    background-image: url('https://images.unsplash.com/photo-1565698228480-eec300c9679b?q=80&w=2806&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

.plant-cucumber {
    background-image: url('https://images.unsplash.com/photo-1518568403628-df55701ade9e?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

.plant-sugar-snaps {
    background-image: url('https://images.unsplash.com/photo-1687878269804-63e8b50e3ddc?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

.plant-turnip {
    background-image: url('https://images.unsplash.com/photo-1555447740-03e40562af94?q=80&w=2787&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

.plant-squash {
    background-image: url('https://images.unsplash.com/photo-1627989230968-d0b8e2d1a398?q=80&w=2962&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}


/* Footer styling */
.footer {

}